* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    border-radius: 0;
    background: transparent;
    color: inherit;
    font: inherit;
    cursor: default;
    text-align: inherit;
    text-decoration: none;
    box-sizing: border-box;
    word-wrap: break-word;
}

html, body {
    background-color: white;
    color: hsl(0, 0%, 30%);
    font: normal 15px/20px Helvetica, Arial, sans-serif;
}

body {
    width: 1000px;
    margin: auto;
    padding: 20px;
}

a {
    cursor: pointer;
}

h1 {
    font-size: 25px;
    line-height: 30px;
}

h2 {
    font-size: 22px;
    line-height: 30px;
}

li {
    display: block;
}

code {
    font-family: monospace;
}

.link {
    color: hsl(95,60%,55%);
}

.title {
    padding: 20px;
    border-bottom: 1px solid hsl(0, 0%, 90%);
}

.index {
    float: right;
    padding: 20px;
    border-left: 1px solid hsl(0, 0%, 90%);
}

.content {
    padding: 20px;
    float: left;
}
